@import 'src/scss/common';

.dialog-title {
  margin-bottom: 12px;

  .dialog-title-text {
    @include boldText($lgFontSize);
  }
  button {
    color: $NearWhite;
    background-color: $NHLColor !important;
  }
}

.normal-zoom {
  min-width: 600px;
  zoom: 1;
}

.zoom-out {
  min-width: auto;
  max-height: 90vh;
  zoom: 0.7;
}

mat-dialog-content {
  min-width: 60vw;
}
