<div class="dialog-title" fxLayoutAlign="space-between">
  <div class="dialog-title-text">Top Teams</div>
  <button mat-mini-fab mat-dialog-close><mat-icon>close</mat-icon></button>
</div>
<mat-dialog-content>
  <mat-tab-group mat-stretch-tabs [(selectedIndex)]="tabIndex" (selectedTabChange)="tabClicked($event)">
    <mat-tab label="East Playoffs">
      <div id="east">
        <h3 class="heading">Playoff <img src="/assets/images/East.gif"> Picture</h3>
        <div fxLayout="row">
          <div fxLayout="column" class="division">
            Division Leaders
            <div class="div-team" *ngFor="let team of EastDivLeaders">
              <div class="team-info" fxFlex>
                <img src="/assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
          <div fxLayout="column" class="division">
            Wildcards
            <div class="div-team" *ngFor="let team of EastWildcard">
              <div class="team-info" fxFlex>
                <img src="/assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
          <div fxLayout="column" class="division">
            On the Outside
            <div class="div-team" *ngFor="let team of EastHunt">
              <div class="team-info" fxFlex>
                <img src="/assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="West Playoffs">
      <div id="west">
        <h3 class="heading">Playoff <img src="/assets/images/West.gif"> Picture</h3>
        <div fxLayout="row">
          <div fxLayout="column" class="division">
            Division Leaders
            <div class="div-team" *ngFor="let team of WestDivLeaders">
              <div class="team-info" fxFlex>
                <img src="/assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
          <div fxLayout="column" class="division">
            Wildcards
            <div class="div-team" *ngFor="let team of WestWildcard">
              <div class="team-info" fxFlex>
                <img src="/assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
          <div fxLayout="column" class="division">
            On the Outside
            <div class="div-team" *ngFor="let team of WestHunt">
              <div class="team-info" fxFlex>
                <img src="/assets/images/{{team.abbrev}}.png" class="logo">
                <span class="team-city">{{team.city}}</span>
                <span class="team-record">{{team.wins}} - {{team.losses}}</span>
                <br>
                <span class="team-name">{{team.name}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
